@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Square+Peg&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:silver
}


.todo {
  font-family: 'Montserrat', sans-serif;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
  color:white;
  background: rgb(192,238,174);
  background: radial-gradient(circle, rgba(192,238,174,1) 0%, rgba(148,187,233,1) 100%);
 
}

h2 {
  font-size:4rem;
  text-align:center;
  font-family: 'Square Peg', cursive;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color:white;
  background: rgb(192,238,174);
  background: radial-gradient(circle, rgba(192,238,174,1) 0%, rgba(148,187,233,1) 100%);
  height:30px;
  width:250px;
}

button {
  cursor:pointer;
}

.complete {
  font-weight:bolder;
  color:white;
  background-color:green;
  
}

.remove {
  font-weight:bolder;
  color:white;
  background-color:red;
  
}

